
[core]
    autocrlf = input
    excludesfile = ~/.gitignore
    editor = vim
    pager = /usr/local/git/contrib/diff-highlight | less

[color]
    ui = true

[alias]
    st = status
    sts = status -sb
    ci = commit
    l = log --graph --pretty=format:\"%C(red bold)%h%C(cyan)%d%Creset | %s %C(yellow)[%an, %ar]%Creset\"
    br = branch
    co = checkout
    df = diff
    dc = diff --cached
    ls = ls-files
    showtrackedignored = ls-files -i --exclude-standard
    last = log -1 HEAD

[user]
    name = <your email>
    email = <your email>

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[diff]
    mnemonicprefix = true

[merge]
    tool = kdiff3

[push]
    default = upstream

[pull]
    rebase = preserve

[filter "media"]
    clean = git media clean %f
    smudge = git media smudge %f
    required = true

[credential]
    helper = osxkeychain

